.message
  border: 2px solid #eeeeee
  border-radius: 4px
  padding: 16px
  margin: 16px 24px
  max-width: 420px
  background-color: #fff
  color: #000

  .name, .timestamp
    color: #999

  &.self
    background-color: #fdf6c8